* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
}

h1{
  margin :17.420px 0;
}

h2{
  margin :16.185px 0;
}

#error_explanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #c00;
    color: #fff;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

ul{
  font-size: 12px;
  padding-left:50px;
}

body{
  margin :33px;
}

td {
  border: 0px none;
  padding :1px 5px 7px 5px;
}

.p_text{
  margin :33px;
}

a {
  color: #000;
}

a:visited {
  color: #666;
}

a:hover {
  color: #fff;
  background: #000;
}

.flash{
  color :green ;
  margin :33px;
}

div.field,div.actions{
  margin-bottom :10px;
}